.chatspace
  = render 'shared/side_bar'

  .chat-main
    .chat-header
      .chat-header__left
        %h2.group #{@group.name}
        %p.user
          member：
          -@group.users.each do |user|
            #{user.name},
      .chat-header__right
        = link_to "Edit", edit_group_path(@group), method: :get, class: 'edit-btn'
    .chat-body
      %ul.chat-contents
        = render @messages
    .chat-footer
      = form_for [@group, @message], html: {class: 'msg_form'} do |f|
        = f.hidden_field :user_id, value: "#{@message.user_id}"
        = f.text_field :content, class: 'chat-footer__text', placeholder: 'type a message'
        %label.form__mask
          %i.fa.fa-picture-o
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'send'
