!!!
%html
  %head
    %meta{ http: { equiv: 'content-type', content: 'text/haml', charset: 'UTF-8'}}
    %title Chatspace
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks: { track: true }}
    = javascript_include_tag 'application', data: { turbolinks: { track: true }}
    = csrf_meta_tags
  %body
    = render 'layouts/notifications'
    = yield
